
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bài viết ẩm thực: Món ăn ngon</title>
  <link rel="stylesheet" href="foodreview01.css">
</head>
<body>
<header class="narbar">
  <div class="narbar">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/vechungtoi">Về chúng tôi</a>
      </li>
      <li>
        <a href="/foodtour">Review ẩm thực</a>
      </li>
      <li>
        <a href="/dichvu">24/7</a>
      </li>
      <li>
        <a href="/guidebook">Guiledbook</a>
      </li>
    </ul>
  </div>
  <div class="hero__section">
    <div class="hero__text">
      <h1>FOOD RVIEW</h1>
      <p>Chuyen review nhung loai do an ngon mieng</p>
      <a href="/home" class="btn__dark margin__top">Đặt tour</a>
    </div>
  </div>
</header>
<!--  -->
<header>
  <h1>Bài viết ẩm thực: Món ăn ngon</h1>
</header>
<main>
  <article>
    <header>
      <h2>9 loại mónn ăn ngon ở Nha Trang nếi k thử sẽ hối hận</h2>
      <p class="meta">Ngày đăng: 04/05/2023</p>
    </header>
    <img src="../image/Foodreview1.jpg" alt="Món ăn ngon">
    <p>Mô tả món ăn và nguyên liệu:</p>
    <ul>
      <li>Nguyên liệu 1</li>
      <li>Nguyên liệu 2</li>
      <li>Nguyên liệu 3</li>
    </ul>
    <p>Cách làm:</p>
    <ol>
      <li>Bước 1</li>
      <li>Bước 2</li>
      <li>Bước 3</li>
    </ol>
    <p>Đánh giá:</p>
    <p class="rating">4.5/5 sao</p>
  </article>
</main>
<footer class="footer">
  <div class="footer-content">
    <h3>code opacity</h3>
    <p>cHÚNG tôi là công ty về du lịch hàng đầu việt Nam, ở đây chúng tôi sẽ cung cấp đầy đủ những thứ bạn cần</p>
    <ul class="socials">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
      <li><a href="https://www.youtube.com/c/AndyNguyen"><i class="fa fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom">
    <p>copyright &copy;2023 codeOpacity. designed by <span>Quang Vũ</span></p>
  </div>
</footer>
</body>
</html>