<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Chào Tạm Biệt</title>
  <link rel="stylesheet" href="logout.css">
  <style>
        body {
            background-color: #008080; /* Màu xanh dương */
        }
        h1 {
            color: #000; /* Màu chữ đen */
            background-color: #8FBC8F; /* Màu xanh lá cây */
            padding: 20px;
        }
    </style>
</head>
<body>
<h1>Chúng tôi muốn bày tỏ lòng cảm ơn sâu sắc đến bạn vì đã ghé thăm trang web của chúng tôi. Chúng tôi rất trân trọng sự quan tâm của bạn đến sản phẩm/dịch vụ của chúng tôi.</h1>
<pre>Chúng tôi hy vọng bạn đã tìm thấy thông tin hữu ích và thú vị trên trang web của chúng tôi. Nếu bạn cần bất kỳ thông tin hoặc hỗ trợ nào, hãy liên hệ với chúng tôi. Chúng tôi luôn sẵn sàng hỗ trợ bạn và giải đáp mọi thắc mắc của bạn.

  Một lần nữa, cảm ơn bạn đã ghé thăm trang web của chúng tôi. Chúc bạn một ngày tốt lành!

  Trân trọng,
  công ty hàng đầu về cung cấp dịch vụ lữ hành và quốc tế hàng đầu Việt Nam.</pre>
</body>
</html>
