
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="vechungtoi.css">
</head>
<div class="heading">
  <h1>Về Chúng Tôi</h1>
  <p>61 Vũ Tông Phan-Khương Trung-Thanh Xuân-Hà Nội</p>
</div>
<section class="about-us">
  <img src="../image/Về%20chúng%20tôi.jpg" alt="">
  <div class="content">
    <h2>Chúng tôi là công ty hàng đầu về cung cấp dịch vụ lữ hành và quốc tế hàng đầu Việt Nam .<br>Chúng tôi không ngừng nỗ lực trở thành nhà tổ chức, điều hành tour du lịch và tổ chức sự kiện hàng đầu Việt Nam với mục tiêu vươn xa toàn cầu để “ở đâu có người Việt, ở đấy có chúng tôi” đúng với bản chất của thương hiệu Mạng Lưới Việt.<br>Chúng tôi đặt chữ “Tâm” làm kim chỉ nam cho đội ngũ nhân viên tâm huyết với sản phẩm, tận tụy với khách hàng, tử tế với đồng sự, có trách nhiệm với cộng đồng, xã hội để cùng thực hiện tầm nhìn và sứ mệnh của doanh nghiệp.</h2>
    <button class="read-more-btn"> <a href="/">Back</a></button>
  </div>
</section>
</body>
</html>